@{
	ViewData["Title"] = "Home Page";
	Layout = null;
	PizzeriaModel pizzeriaModel = new PizzeriaModel("Nuova Pizzeria", "una nuova pizzeria dove si mangia bene");
	pizzeriaModel.AddPizza(new PizzaModel("Margherita", "Pizza rossa con mozzarella", 4.99, "~/img/margherita.png"));
	pizzeriaModel.AddPizza(new PizzaModel("Diavola", "Pizza rossa con mozzarella e salame piccante", 5.99, "~/img/diavola.png"));
	pizzeriaModel.AddPizza(new PizzaModel("Hawaiana", "Pizza bianca con mozzarella, prosciutto e ananas", 6.99, "~/img/hawaiana.png"));
	pizzeriaModel.AddPizza(new PizzaModel("Quattro Formaggi", "Pizza bianca con mozzarella, gorgonzola, fior di latte e parmigiano", 7.99, "~/img/quattro-formaggi.png"));
	pizzeriaModel.AddPizza(new PizzaModel("Quattro Stagioni", "Pizza bianca con mozzarella, fior di latte, funghi e olive", 8.99, "~/img/quattro-stagioni.png"));
	pizzeriaModel.AddPizza(new PizzaModel("Funghi", "Pizza bianca con mozzarella, funghi", 9.99, "~/img/funghi.png"));
	pizzeriaModel.AddPizza(new PizzaModel("Capricciosa", "Pizza bianca con mozzarella, carciofi, fior di latte e olive", 10.99, "~/img/capricciosa.png"));
}

<!DOCTYPE html>
<html>
	<head>
		<title>@ViewData["Title"]</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	</head>

	<body>
		<h1 class="text-center mt-4">La mia pizzeria</h1>
		<div class="d-flex justify-content-center flex-wrap gap-3 my-5">
		@{
			if (pizzeriaModel.Pizzas.Count > 0)
			{
				foreach (PizzaModel pizza in pizzeriaModel.Pizzas)
				{
					<div class="card glass" style="width: 18rem;">
						<img src="@Url.Content(pizza.Image)" class="card-img-top" alt="...">
							  <div class="card-body">
									<h5 class="card-title">@pizza.Name</h5>
									<p class="card-text">@pizza.Description</p>
							  </div>
							  <ul class="list-group list-group-flush fa-ul">
									<li class="list-group-item bg-transparent"><span class="fa-li"><i class="fa-solid fa-coins"></i></span>@pizza.Price</li>
							  </ul>
						</div>
					}
				}
				else
				{
					<div class="alert alert-danger">Questo locale non ha nessuna pizza.</div>
				}
			}
		</div>

		<!-- bootstrap js -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script></script>        
	</body>
</html>

